@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}
