<div class="w-full flex rounded-lg pt-2 px-4 pb-7">
  <div class="w-3/12 flex flex-col bg-sky-300">
    <h4 class="font-semibold text-xl capitalize mb-2">sales graph</h4>
    <span class="text-4xlfont-bold">$37.5K</span>
    <div class="flex items-center gap-2 text-sm text-[#667085]">
      <span>Total</span> <span class="text-[#05CD99]">+2.45%</span>
    </div>
    <div class="flex items-center gap-2">
      <!-- TODO: svg icon -->
      <span class="text-[#05CD99] font-bold mt-2">On Track</span>
    </div>
  </div>
  <div class="w-full flex flex-col gap-5">
    <button
      pButton
      pRipple
      class="text-[#1D2939] bg-[#F4F7FE] rounded-lg py-3 px-5 font-bold flex items-center gap-2 w-max self-end"
    >
      <i class="pi pi-calendar text-xl" style="font-weight: 700"></i>
      <span>this month</span>
    </button>

    <!-- Chart -->
  </div>
</div>