<div class="container h-auto relative sm:hidden">
  <img src="assets/auth-bg.png" class="h-full w-full" alt="auth-bg" />
  <div
    class="absolute w-full h-full left-0 top-0 flex flex-col gap-4 sm:gap-8 justify-center items-center z-10"
  >
    <klock-logo
      innerColor="#FFFFFF"
      outerColor="#1D2939"
      labelColor="#FFFFFF"
    />
    <h4 class="login-sigup-label">{{ isSignUp ? "sign up" : "sign in" }}</h4>
  </div>
</div>
<div
  class="py-8 px-[5vw] sm:flex sm:items-center sm:justify-center sm:h-screen"
>
  <form
    class="bg-[#FBFBFB] rounded-lg flex flex-col gap-8 py-6 w-full sm:w-[30rem] md:w-[33rem]"
    [formGroup]="userAuthForm"
  >
    <div
      class="w-full h-full left-0 top-0 hidden sm:flex flex-col gap-8 justify-center items-center"
    >
      <klock-logo
        innerColor="#1D2939"
        outerColor="#FFFFFF"
        labelColor="#1D2939"
      />
      <h4 class="login-sigup-label">
        {{ isSignUp ? "sign up" : "sign in" }}
      </h4>
    </div>
    <div
      class="flex flex-col gap-8 max-h-[38vh] overflow-y-auto px-4 sm:px-8 md:px-10"
    >
      @if (isSignUp) {
      <klock-input
        id="name"
        placeholder="Enter your full name"
        label="name"
        [control]="userAuthForm.controls.name"
      />
      }

      <klock-input
        id="email"
        placeholder="Enter your email"
        label="email"
        type="email"
        [control]="userAuthForm.controls.email"
      />

      <klock-input
        id="password"
        label="password"
        placeholder="Enter your password"
        type="password"
        [control]="userAuthForm.controls.password"
        [isPassword]="true"
      />

      @if (isSignUp) {
      <klock-input
        id="confirm-password"
        label="confirm password"
        placeholder="Confirm password"
        type="password"
        [control]="userAuthForm.controls.confirmPassword"
        [isPassword]="true"
        [mismatch]="userAuthForm.controls.password"
      />
      }

      <div class="flex gap-1">
        <klock-checkbox
          id="terms"
          [label]="isSignUp ? 'I agree the' : 'Remember Me'"
          [control]="
            isSignUp
              ? userAuthForm.controls.termsAndConditions
              : userAuthForm.controls.rememberMe
          "
          [isRequired]="isSignUp"
        />
        @if (isSignUp) {
        <a
          [routerLink]="['/terms-and-conditions']"
          target="_blank"
          class="text-blue hover:underline transition-all duration-200 ease-linear"
          >Terms and conditions</a
        >
        }
      </div>
    </div>

    <klock-button
      role="button"
      (click)="onSubmit()"
      [tabindex]="isSubmitting || userAuthForm.invalid ? '-1' : '0'"
      [isLoading]="isSubmitting"
      [disabled]="isSubmitting || userAuthForm.invalid"
      label="sign in"
      className="w-10/12 mx-auto"
      loaderClassName="border-white border-t-transparent"
    ></klock-button>

    <span class="text-md uppercase text-center -my-5">or</span>

    <klock-button
      role="button"
      tabindex="0"
      className="w-10/12 mx-auto bg-transparent border border-grey-G300"
      (click)="googleSignIn()"
    >
      <svg
        width="30"
        height="24"
        viewBox="0 0 30 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M26.4988 12.2532C26.4988 11.5054 26.437 10.7537 26.305 10.0181H15.7205V14.2538H21.7817C21.5302 15.6199 20.7221 16.8284 19.5387 17.5963V20.3447H23.1548C25.2783 18.4289 26.4988 15.5997 26.4988 12.2532Z"
          fill="#4285F4"
        />
        <path
          d="M15.7219 23C18.7484 23 21.3008 22.0259 23.1604 20.3446L19.5442 17.5962C18.5381 18.2671 17.2393 18.647 15.726 18.647C12.7985 18.647 10.3162 16.711 9.42558 14.1082H5.69397V16.9414C7.59895 20.6558 11.479 23 15.7219 23Z"
          fill="#34A853"
        />
        <path
          d="M9.42143 14.108C8.95137 12.7419 8.95137 11.2626 9.42143 9.8965V7.06323H5.69395C4.10234 10.1713 4.10234 13.8332 5.69395 16.9413L9.42143 14.108Z"
          fill="#FBBC04"
        />
        <path
          d="M15.7219 5.3537C17.3217 5.32945 18.868 5.91955 20.0266 7.00274L23.2305 3.8623C21.2018 1.99501 18.5093 0.968407 15.7219 1.00074C11.479 1.00074 7.59895 3.34495 5.69397 7.06336L9.42145 9.89663C10.308 7.2897 12.7943 5.3537 15.7219 5.3537Z"
          fill="#EA4335"
        />
      </svg>
    </klock-button>

    <div class="flex items-center justify-center gap-1 text-sm">
      <span>{{
        isSignUp ? "Alredy have an account?" : "Don’t have an account?"
      }}</span>
      <a [routerLink]="isSignUp ? '/sign-in' : '/sign-up'" class="link">{{
        isSignUp ? "Sign In" : "Sign Up"
      }}</a>
    </div>
  </form>
</div>
