<div
  *ngIf="alert.display"
  [@alertAnimation]="alert.display"
  [class]="
    alert.status === 'success'
      ? 'border-green-700 bg-green-100 text-green-700'
      : 'bg-red-100 text-error border-error'
  "
  class="alert max-w-[30rem] min-w-[20rem] rounded-lg border min-h-[4rem] absolute px-4 py-2 right-8 top-8 flex gap-4"
>
  <app-alert-icon [status]="alert.status" />
  <div class="flex flex-col gap-1">
    <span class="font-bold">{{ alert.title }}</span>
    <span>{{ alert.message }}</span>
  </div>
</div>
